[data-wrap="center"] {
  text-align: center;
}

[data-wrap="right"] {
  text-align: right;
}

[data-wrap="justify"] {
  text-align: justify;
}

[data-wrap="large"] {
  font-size: large;
}

[data-wrap="x-large"] {
  font-size: x-large;
}

[data-wrap="x-large"] {
  font-size: xx-large;
}

[data-wrap="rouge"] {
  color: #BB1122;
}

[data-wrap="vert"] {
  color: #3d854d;
}

[data-wrap="bleu"] {
  color: #3871CB;
}

[data-wrap="violet"] {
  color: #9D256B;
}